<!DOCTYPE html>
<html lang="en" class="openNav">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css" rel="stylesheet">
    <title>Blogs - Blogify V1</title>
</head>
<body>

    <!-- INCLUDING SIDE NAVIGATION -->
    <% include ./ejs-partials/navigation.ejs %>        

    <div class="new-wrapper">
        <h1>Test</h1>
        <% blogs.forEach(blog => { %>
            <div>
                <h2><%= blog.title %></h2>
                <img src="<%= blog.image %>" heigth = "30%" width = "30%">
                <span><%= blog.created %></span>
                <p><%= blog.body %></p>
            </div>
        <% }); %>
    </div>

</body>
</html>