<!DOCTYPE html>
<html lang="en" class="openNav">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet">
    <title>Blogs - Blogify V1</title>
</head>
<body>

    <!-- INCLUDING SIDE NAVIGATION -->
    <% include ./ejs-partials/navigation.ejs %>        

    <div class="new-wrapper">
        <section class="blogs">
            <div class="blogs-wrapper">
                <% blogs.forEach(blog => { %>
                    <div class="blog-post">
                        <div class="image-content">
                            <img src="<%= blog.image %>" heigth = "100%" width = "100%" class="image-content__image" style = "text-align: center;">
                            <div class="image-content__created-by">
                                <p class="image-content__text">Posted By</p>
                                <h3 class="image-content__user">AndreasDEV</h3>
                            </div>
                        </div>
                        <div class="blog-post__content">
                            <h2 class="blog-post__content__title"><%= blog.title %></h2>
                            <p class="blog-post__content__short-desc"><%= blog.body %></p>
                            <span class="blog-post__content__date"><%= blog.created %></span>
                        </div>
                    </div>
                <% }); %>
            </div>
        </section>
    </div>

</body>
</html>